@layer primitiv.theme {
  :root,
  [data-theme="light"] {
    --primitiv-color-brand-50: oklch(0.97 0.0119 164.4939);
    --primitiv-color-brand-100: oklch(0.9036 0.0347 164.4939);
    --primitiv-color-brand-200: oklch(0.8151 0.0644 164.4939);
    --primitiv-color-brand-300: oklch(0.7377 0.0793 164.4939);
    --primitiv-color-brand-400: oklch(0.6381 0.0912 164.4939);
    --primitiv-color-brand-500: oklch(0.5054 0.1043 164.4939);
    --primitiv-color-brand-600: oklch(0.4165 0.0838 164.4939);
    --primitiv-color-brand-700: oklch(0.301 0.0606 164.4939);
    --primitiv-color-brand-800: oklch(0.2122 0.0427 164.4939);
    --primitiv-color-brand-900: oklch(0.15 0.0303 164.4939);
  }
  [data-theme="dark"] {
    --primitiv-color-brand-50: oklch(0.21 0.0119 164.4939);
    --primitiv-color-brand-100: oklch(0.2448 0.0347 164.4939);
    --primitiv-color-brand-200: oklch(0.2882 0.058 164.4939);
    --primitiv-color-brand-300: oklch(0.349 0.0702 164.4939);
    --primitiv-color-brand-400: oklch(0.4272 0.0859 164.4939);
    --primitiv-color-brand-500: oklch(0.5054 0.1043 164.4939);
    --primitiv-color-brand-600: oklch(0.628 0.0912 164.4939);
    --primitiv-color-brand-700: oklch(0.7506 0.0793 164.4939);
    --primitiv-color-brand-800: oklch(0.862 0.0644 164.4939);
    --primitiv-color-brand-900: oklch(0.94 0.0496 164.4939);
  }
}

@theme {
  --color-brand-50: var(--primitiv-color-brand-50);
  --color-brand-100: var(--primitiv-color-brand-100);
  --color-brand-200: var(--primitiv-color-brand-200);
  --color-brand-300: var(--primitiv-color-brand-300);
  --color-brand-400: var(--primitiv-color-brand-400);
  --color-brand-500: var(--primitiv-color-brand-500);
  --color-brand-600: var(--primitiv-color-brand-600);
  --color-brand-700: var(--primitiv-color-brand-700);
  --color-brand-800: var(--primitiv-color-brand-800);
  --color-brand-900: var(--primitiv-color-brand-900);
}
