@layer primitiv.theme {
  :root,
  [data-theme="light"] {
    --primitiv-color-brand-50: #eef8f3;
    --primitiv-color-brand-100: #cbe7d9;
    --primitiv-color-brand-200: #9cd0b8;
    --primitiv-color-brand-300: #79ba9d;
    --primitiv-color-brand-400: #519d7d;
    --primitiv-color-brand-500: #0a7755;
    --primitiv-color-brand-600: #0b5a40;
    --primitiv-color-brand-700: #043726;
    --primitiv-color-brand-800: #011f14;
    --primitiv-color-brand-900: #000f08;
  }
  [data-theme="dark"] {
    --primitiv-color-brand-50: #131a17;
    --primitiv-color-brand-100: #0f261c;
    --primitiv-color-brand-200: #043423;
    --primitiv-color-brand-300: #074531;
    --primitiv-color-brand-400: #0c5d43;
    --primitiv-color-brand-500: #0a7755;
    --primitiv-color-brand-600: #4d9a7a;
    --primitiv-color-brand-700: #7dbea1;
    --primitiv-color-brand-800: #abe0c7;
    --primitiv-color-brand-900: #cef6e3;
  }
}

@theme {
  --color-brand-50: var(--primitiv-color-brand-50);
  --color-brand-100: var(--primitiv-color-brand-100);
  --color-brand-200: var(--primitiv-color-brand-200);
  --color-brand-300: var(--primitiv-color-brand-300);
  --color-brand-400: var(--primitiv-color-brand-400);
  --color-brand-500: var(--primitiv-color-brand-500);
  --color-brand-600: var(--primitiv-color-brand-600);
  --color-brand-700: var(--primitiv-color-brand-700);
  --color-brand-800: var(--primitiv-color-brand-800);
  --color-brand-900: var(--primitiv-color-brand-900);
}
