@layer primitiv.tokens, primitiv.theme, primitiv.base, primitiv.variants, primitiv.states;

@layer primitiv.tokens {
  :root,
  [data-theme="light"] {
    --primitiv-color-bg: #fff;
  }
  [data-theme="dark"] {
    --primitiv-color-bg: #111;
  }
}

$primitiv-color-bg: var(--primitiv-color-bg);
