@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('/fonts/asta-sans-300-800.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/jetbrains-mono-400.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/jetbrains-mono-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/khand-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/khand-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/khand-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/khand-700.woff2') format('woff2');
}
